[Unit]
Description=Load modules for galileo/quark
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/sbin/quark-init.sh

[Install]
WantedBy=local-fs.target
